
body {
    background-color: rgb(224, 224, 224);
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(62, 62, 62);
}


header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
   
}

header a {
    text-decoration: none;
    color: #000;
    
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: underline;
    color: #8fcfe2;
}

h2 {
    font-size: 35px;
    display: inline;
    text-align: right;
    border-right: 3px solid;
    padding: 0 10px 20px 10px;
    margin-bottom: 35px;
    width: 20%;
    
}

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.hero h2 {
    font-size: 30px;
    display: inline;
    text-align: right;
    border-right: none;
    padding: 0 10px 20px 10px;
    margin-bottom: 35px;

    
}

footer {
 

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


footer div ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

footer div ul li {
    margin: 20px 10px;
}

footer a {
    font-weight: lighter;
    font-size: 20px;
    text-decoration: underline;
    color: #000;
}

.applications {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.application1 {
    flex:2;
}

.application {
    flex:1;
}

.application1 img {
    opacity: 0.5;
}

.application img {
    width: 300px;
    height: 300px;
    opacity: 0.5;
}

.application1 img:hover, .application img:hover {
    opacity: 1;
}

article {
    display: inline;
}



.about, .work, .contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-text, .applications, .footer-links {
    width: 75%;
    margin: 20px 10px;
}

.flex-row {
    display: flex;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }

}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }

}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }

}

