:root {
    --primary-color: #7cdedc;
    --secondary-color: #3e3e3e;
    --tertiary-color: #e0e0e0;
}

body {
    background-color: var(--tertiary-color);
}

/* Header Section */
header {
    padding: 0px 35px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

header nav {
    margin: 10px 10px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--secondary-color);
    padding: 10px 10px 10px 50px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid;
    padding-bottom: 5px;
}

/* Hero Section */
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding-right: 10px;
    
}

.hero h2 {
    font-size: 30px;
    display: inline;
    text-align: right;
    border-right: none;
    padding: 10px 10px;
    margin-bottom: 35px;
       
}

/*Footer Section */
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


footer div ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

footer div ul li {
    margin: 20px 10px;
}

footer a {
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 5px;
}

/* My Work Section */
.applications {
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.applications h3 {
    padding-left: 20px;
    padding-right: 10px;
    margin: 5px;
    color: var(--secondary-color);
    font-size:26px;
}

.applications p {
    padding-left: 20px;
    padding-right: 10px;
    margin: 5px;
}

.application1 {
    flex:2;
    position: relative;
}

.application {
    flex:1;
    position: relative;
}

.application1 img {
    max-width: 1200px;
  
    opacity: 0.5;
    border: solid 3px var(--primary-color);
}

.application img {
    max-width: 500px;
    
    opacity: 0.5;
    border: solid 3px var(--primary-color);
}

.application1 img:hover, .application img:hover {
    opacity: 1;
}

.application-title {
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 9999;
}


.title, .application-title {
    background-color: var(--primary-color);
}

.about h2, .work h2, .contact h2 {
    font-size: 35px;
    color: var(--secondary-color);
    display: flex;
    flex-wrap:wrap;
    justify-content: right;
    text-align: right;
    border-right: 3px solid;
    padding: 0 10px 20px 10px;
    margin-bottom: 35px;
    width: 5%;
}

.about, .work, .contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-text, .applications, .footer-links {
    width: 75%;
    margin: 20px 10px;
}

.flex-row {
    display: flex;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }

}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }

}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }

}

